.content__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,280px);
  grid-template-rows: repeat(3,280px);
  grid-gap: 30px;
  padding-bottom: 20px;
}
.content__list-two {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,280px);
  grid-template-rows: repeat(3,280px);
  grid-gap: 30px;
  padding-bottom: 20px;
}
.content__list-three {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,280px);
  grid-template-rows: repeat(3,280px);
  grid-gap: 30px;
  padding-bottom: 20px;
}
.content__img {
  object-fit: cover;
}
// .content__img {
//   width: 300px;
//   height: 300px;
// }